
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/js/jquery-3.1.1.js"></script>
</head>
<body>
    <div> 

	
	
	
    </div>
</body>
</html>
<script>

</script>