
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Help</title>
    <link type="text/css" href="~/Content/css/css.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-3.1.1.js"></script>
    <script src="~/Content/js/jquery.js" type="text/javascript"></script>
    <script src="~/Content/js/js.js" type="text/javascript"></script>
    <script src="~/Content/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
</head>

    <body>
        <div class="mianCont">

            <div class="positions">
                当前位置：<a href="javascript:void(0)" onclick="window.open('/UserInfos/Main', 'main')">首页</a> &gt; <a href="#" class="posCur">帮助中心</a>
            </div><!--positions/-->
            <div class="cont">
                <div class="contLeft" id="contLeft">
                    <h3 class="leftTitle">帮助中心</h3>
                    <dl class="helpNav">
                        <dt class="help1">常见问题</dt>
                        <dd><a href="#">顾客须知</a></dd>
                        <dd><a href="#">购物流程</a></dd>
                        <dd><a href="#">订单的几种状态</a></dd>
                        <dd><a href="#">非会员购物通道</a></dd>
                        <dd><a href="#">网站使用条款</a></dd>
                        <dd><a href="#">网站免责声明</a></dd>
                        <dt class="help2">支付配送</dt>
                        <dd><a href="#">支付方式</a></dd>
                        <dd><a href="#">配送方式</a></dd>
                        <dd><a href="#">网付说明</a></dd>
                        <dt class="help3">订单售后</dt>
                        <dd><a href="#">订单出库</a></dd>
                        <dd><a href="#">送货签收</a></dd>
                        <dd><a href="#">退货说明</a></dd>
                        <dd><a href="#">联系客服</a></dd>
                        <dt class="help4">关于我们</dt>
                        <dd><a href="#">17官网</a></dd>
                        <dd><a href="javascript:void(0)" onclick="window.open('/UserInfos/Contact', 'main')">联系我们</a></dd>
                        <dd><a href="javascript:void(0)" onclick="window.open('/UserInfos/Contact', 'main')">企业简介</a></dd>
                    </dl><!--helpNav/-->
                </div><!--contLeft/-->
                <div class="contRight">
                    <h4 class="gouLiu">简单的购物流程</h4>
                    <div class="helpPar">
                        &nbsp;&nbsp;&nbsp;&nbsp;首先，你要注册一个天成会员帐号。登录后，可以在我的天成易购中先选择你要购买的商品进行查询，在查询出的页面，你可以选择以商家信誉排列商品或以价格高低排列商品，这样比较一目了然的可以看到你所要选的商品。<br /><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;然后，选定一家信誉尚可，价格较佳的商家，就你所要的商品和他详谈商品的品质，价格及售后和所走的物流，一切谈妥后，选择支付方式，在这里推荐使用第三方支付平台：支付宝，这一支付平台是你先把货款打入一第三方帐户，只有当你收到货时确认货品与商家承诺一致，支付宝才会把你的款项转入商家户头，这样对你购物比较有保障。你可以用网上银行给支付宝充值，如果无网上银行，可以让有网上银行的朋友给你充值，还有部分商家支持信用卡在线支付的。<br /><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;第三，当你收到货物后及时查验是否与卖家说描述的相符合，如果没有问题的话可以就货物是否与卖家说描述的相符、卖家的服务态度、卖家的发货速度对卖家的进行评价，这有助于提高双方的信誉，也为其他人购物提供了参考。等到卖家对买家进行了评价后可以说这次交易就完全结束。
                    </div><!--helpPar-->
                </div><!--contRight/-->
                <div class="clears"></div>
            </div><!--cont/-->
            

        </div><!--mianCont/-->
        <a href="#" class="backTop">&nbsp;</a>
    </body>
</html>
